h1 {
	font-style: italic;
	text-align: center;
	border: solid;
	border-width: 5px;
	border-color: black;
	border-padding: 50px 3px 50px 3px;
	margin: 10px auto 10px auto;
}


h2 {
	font-style: italic;
	text-align: center;
	border: solid;
	border-width: 4px;
	border-color: black;
	padding: 10px 3px 10px 3px;
	margin: 10px auto 10px auto;
	width: 150px;
}


h3 {
	font-style: italic;
}

p {
	font-size: 15px;
}


body {
	background-color: #DBCC8E;
}


.page-header-box {
	font-style: italic;
	text-align: center;
	border: solid;
	border-width: 4px;
	border-color: black;
	padding: 10px 10px 10px 10px;
	margin: 10px auto 10px auto;
	width: 150px;
}


/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 60%;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}


/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: black;
  font-size: 60px;
  font-style: italic;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

/* Navbar container */
.navbar {
	overflow: hidden;
	background-color: #800000;
	font-style: italic;
}

/* Links inside the navbar */
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* The dropdown container */

.occasions {
	float: left;
	overflow: hidden;
	/* position: relative; */
}

/* Dropdown Button */

.occasions .occabtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: italic; /* For Mobile Phone Vertical Alignment */
	margin: 0; /* For Mobile Phone Vertial Alignment */
}

/* Add a white background color to navbar links on hover */

.navbar a:hover, .occasions:hover .occabtn {
	background-color: white;
	color: #800000;
}

/* Dropdown content (hidden by default) */

.occasions-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-top: 46px;
	z-index: 1;
}

/* Links inside the dropdown */

.occasions-content a {
	float: none;
	color: #800000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
/* Add a grey background color to dropdown links on hover */

.occasions-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.occasions:hover .occasions-content {
	display: block;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  width: 50px;
  height: 50px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  width: 10px;
  height: 10px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 10px
  height: 10px;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  width: 20px;
  height: 20px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 20px;
  height: 20px;
}
